backcall==0.1.0
certifi==2019.6.16
chardet==3.0.4
decorator==4.4.0
geoip2==2.9.0
idna==2.8
ipdb==0.12.2
ipython==7.7.0
ipython-genutils==0.2.0
jedi==0.15.1
maxminddb==1.4.1
parso==0.5.1
peewee==3.10.0
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==2.0.9
ptyprocess==0.6.0
Pygments==2.4.2
python-dateutil==2.7.5
PyYAML==4.2b2
requests==2.21.0
six==1.12.0
traitlets==4.3.2
urllib3==1.24.3
wcwidth==0.1.7
