aiohttp~=3.9.3
appnope~=0.1.4
async-timeout~=4.0.3
attrs~=23.2.0
backcall~=0.2.0
certifi~=2024.2.2
chardet~=3.0.4
decorator~=5.1.1
geoip2~=4.1.0
idna~=3.6
ipdb~=0.13.13
ipython~=8.22.2
ipython-genutils~=0.2.0
jedi~=0.19.1
maxminddb==2.0.3
multidict~=6.0.5
parso~=0.8.3
peewee~=3.17.1
pexpect~=4.9.0
pickleshare~=0.7.5
prompt-toolkit~=3.0.43
ptyprocess~=0.7.0
Pygments~=2.17.2
python-dateutil~=2.8.1
PyYAML~=6.0.1
requests~=2.31.0
six~=1.15.0
traitlets~=5.14.2
typing-extensions~=4.10.0
urllib3~=1.26.18
wcwidth~=0.2.13
yarl~=1.9.4
